# Visual Studio
.vs/
.vs2019/
.vs2017/
.vs2015/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl

# Build results
[Dd]ebug/
#[Rr]elease/
#release/
build/
x64/
x86/
arm/
arm64/
bin/
obj/
GeneratedFiles/

# Qt Creator specific
*.qmake.stash
*.pro.user
*.pro.user.*
*.moc
*.qrc
*.qmake.cache
*.qmake.conf
*.qmlc
*.cpp~ 
*.h~
*.moc~

# CMake
CMakeLists.txt.user

# CMake build folders
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Other
*.log
*.stackdump